/*Đây là phần css phần mà ta sẽ chỉnh thông qua đây để chỉnh sửa trên web*/
/*Padding là cho vào cái bên trong, còn margin là cho vào cái bên ngoài*/
/*Muốn ép nội dung vào phần trong ta sẽ dùng padding, còn muốn tăng khoảng cách giữa những chỗ ở giữa với nhau ta sẽ dùng margin*/
/*margin tính từ ngoài vào, padding tính từ trong ra*/

/*dấu # chính là id */
	#menu_text {
		margin:0;
	}

/*	* { # dấu * ám chỉ tất cả
		margin:0;
		padding:0;
	}*/
	h1 {
		color:red;

	}
	h2 {
		color:lightcoral;
	}
	
	#menu_text {
		background-color: lightgoldenrodyellow;
		text-align: center;
		margin:0;
		padding:40px 55px;
		
	}

	nav {
		background-color: #333;
		text-align: center;
		overflow: hidden;
		
	}

/*nav a có nghĩa là nằm trong phần nav và ở mục a*/
	nav a {
		color: white;
		padding:14px 20px;
/*text text-decoration: None sẽ làm cho chữ đó không được trang trí bất kỳ cái gì cả*/
		text-decoration: none;
/*display: block sẽ làm cho chữ nằm cùng ở 1 hàng bây giờ sẽ nằm trên 1 hàng dọc*/
		display: block;

	}

/*dấu . chính là class*/
	.menu_left {
		float: left;
	}

	.menu_right {
		float: right;
	}


/*hàm hover sẽ làm cho chữ đó nó sáng lên khi ta chạm vào chữ đó*/
	nav a:hover {
		background-color: lightcoral;
		color:black;
	}
	#left_side {
		flex:30%;
		padding:10px 20px;
	}
	#right_side {
		flex:70%;
		background-color:lightgoldenrodyellow;
		padding:10px 20px;
	}
	
	#flex_container {
		display:flex;
		flex-wrap: nowrap;

	}
	footer {
		background-color: #333;
		color:lightcoral;
		text-align: center;
		padding:10px 20px;
	}

	footer > a{
		color:white;
	}

	table {
		border-style:solid;
	}
	
	/* Styling the table */
	table {  
		border-collapse: collapse; 
		width: 15%;
	}

	table td, table th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	table tr:nth-child(even){background-color: #f2f2f2;}

	table tr:hover {background-color: #ddd;}

	table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #04AA6D;
		color: white;
	}
	
	.socute_item {
	/*	width:33%;
		float:left;*/
		text-align: center;
		flex:33%;
	}

	.socute_img {
		width:90%;
	}

	#socute_container {
		display:flex;
		flex-wrap: wrap;
	}

	.socute_title {
		font-size: 150%;
		font-weight: bold;	
		padding:10px 20px;	
	}

	.socute_description {
		padding:0px 10px 20px 10px;
	}

	@media(max-width: 800px) {
		#left_side {
			flex:100%;
		}

		#right_side {
			flex:100%;
		}

		#flex_container {
			flex-wrap: wrap;
		}

		.socute_item {
			flex:50%;
		}
	}
	
	@media(max-width: 400px) {
		#left_side {
			flex:100%;
		}

		#right_side {
			flex:100%;
		}

		#flex_container {
			flex-wrap: wrap;
		
	}
